.advantages {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 2%, #f8f9fc 2%);

  @include vp-1023 {
    background-color: #f8f9fc;
    background-image: unset;
  }
}

.advantages__wrapper {
  width: 100%;
  max-width: 1366px;
  padding: 85px 164px;
  padding-top: 146px;
  margin: 0 auto;

  @include vp-1023 {
    padding: 92px 45px;
  }

  @include vp-767 {
    padding: 64px 0;
    padding-bottom: 40px;
  }
}

.advantages__wrapper h2 {
  font-family: $AlumniSans;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-blue;
  margin: 0;
  margin-bottom: 27px;

  @include vp-1023 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.advantages__list-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5% 23% 5% 1fr;
  grid-template-rows: 1fr 130px 1fr;

  @include vp-1023 {
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: min-content 1fr min-content;
  }

  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: min-content 30px 1fr;
  grid-template-rows: 1fr;

  &--area {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--parking {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }

  &--comfort {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &--experience {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
  }

  @include vp-1023 {
    &--area {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--parking {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &--comfort {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &--experience {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
  }

  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 45px;
    margin-bottom: 23px;
  }
}

.advantages__item-wrapper-number {
  &--area {
    margin-left: 17px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--parking {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--comfort {
    margin-left: 17px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--experience {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @include vp-1023 {
    &--area,
    &--parking,
    &--comfort,
    &--experience {
      margin-left: 0;
    }
  }
}

.advantages__item-wrapper {
  padding-left: 2px;

  &--area {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &--parking {
    width: 99%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &--comfort {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &--experience {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  @include vp-1023 {
    padding-left: 0;
  }

  @include vp-767 {
    margin-top: -10px;
  }
}

.advantages__decor {
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);

  &--left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--right {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }

  @include vp-1023 {
    display: none;
  }
}

.advantages__item-number {
  display: block;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 150%;
  background-image: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  color: transparent;
  margin: 0;

  @include vp-1023 {
    font-size: 58px;
  }

  @include vp-767 {
    text-align: center;
  }
}

.advantages__item-text {
  display: block;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2e35ac;
  margin-top: -22px;

  @include vp-1023 {
    margin-top: -18px;
  }

  @include vp-767 {
    text-align: center;
  }
}

.advantages__item h3 {
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #102654;
  margin: 0;
  margin-bottom: 6px;
  padding-top: 21px;

  @include vp-1023 {
    font-size: 20px;
    margin-bottom: 2px;
    padding-top: 15px;
  }

  @include vp-767 {
    text-align: center;
  }
}

.advantages__desk {
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #102654;
  margin: 0;

  @include vp-767 {
    text-align: center;

    &--comfort {
      margin: 0 auto;
      width: 99%;
    }
  }
}


.advantages__item-main {
  padding: 10px;
  background-color: #1c3374;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 6px;

  grid-column: 3 / 4;
  grid-row: 1 / 4;

  @include vp-1023 {
    margin: 41px auto;
    margin-bottom: 30px;
    min-height: 239px;
    width: 65%;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  @include vp-767 {
    margin: 19px 0;
    margin-bottom: 25px;
    padding: 35px 10px;
    width: 100%;
  }
}

.advantages__item-main-number {
  margin: 0;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 98%;
  text-align: center;
  color: $color-default-white;
}

.advantages__item-main-text {
  margin: 0;
  margin-bottom: 30px;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 7px;
  }
}

.advantages__item-main-desk {
  width: 85%;
  margin: 0;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-default-white;

  @include vp-1023 {
    width: 45%;
    font-size: 16px;
  }

  @include vp-767 {
    width: 63%;
  }
}
