.info {
  background-image: linear-gradient(90deg, rgba(16, 38, 84, 1) 50%, rgba(255, 255, 255, 1) 50%);
  border-top: 1px solid #74819c;

  @include vp-1199 {
    background-image: linear-gradient(180deg, rgba(16, 38, 84, 1) 48%, rgba(255, 255, 255, 1) 48%);
    border-top: none;
  }

  @include vp-767 {
    background-image: linear-gradient(180deg, rgba(16, 38, 84, 1) 43%, rgba(255, 255, 255, 1) 43%);
  }
}

.info__wrapper {
  display: flex;
  width: 100%;
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;

  @include vp-1199 {
    flex-direction: column;
    padding: 0 129px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}
