// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/AlumniSans-SemiBold.woff2") format("woff2"),
    url("../fonts/AlumniSans-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/AlumniSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/AlumniSans-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}
